openapi: 3.2.0
info:
  x-logo:
    url: https://image.paypay.ne.jp/page/common/images/img_logo.png
    altText: PayPay Open Payment Api
  contact:
    name: API Support
  version: '1.1'
  title: Dynamic QR Payments API
  description: '# Introduction


    PayPay Open Payment API (OPA) is designed to be used by our payment partners to make payment-related operations in different scenarios, so as to deliver the best payment experience to end users.'
servers:
- description: Production server
  url: //apigw.paypay.ne.jp
- description: Staging server
  url: //apigw.stg.paypay.ne.jp
- description: Sandbox server
  url: //apigw.sandbox.paypay.ne.jp
- description: Production server (deprecated)
  url: //api.paypay.ne.jp
- description: Staging server (deprecated)
  url: //stg-api.paypay.ne.jp
- description: Sandbox server (deprecated)
  url: //stg-api.sandbox.paypay.ne.jp
tags:
- name: Payments
paths:
  /v2/payments/{merchantPaymentId}:
    x-override-visible-methods: {}
    get:
      tags:
      - Payments
      summary: Get payments by merchant payment id
      x-summary-source: derived
      operationId: getV2PaymentsByMerchantPaymentId
      x-operation-id-source: derived
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: Basic
x-tagGroups:
- name: General
  tags:
  - ApiAuthentication
  - SpecifyMerchantInRequest
  - ErrorHandling
  - ApiGeneralRequestId
- name: Apis
  tags:
  - Payment
  - Wallet
  - User
- name: Payment judgment
  tags:
  - AboutPaymentJudgement
- name: Notify users
  tags:
  - NotifyUsersWhenEventsOccur
- name: status transition
  tags:
  - BasicStatusTransition
- name: Webhooks
  tags:
  - WebhookSetup
  - TransactionEvents
- name: Recon file
  tags:
  - TransactionReconFileWithCapture
- name: FAQ
  tags:
  - FAQ
- name: Changelog
  tags:
  - Changelog
x-doc-language: en
