openapi: 3.0.0
info:
  x-logo:
    url: https://image.paypay.ne.jp/page/common/images/img_logo.png
    altText: PayPay Open Payment Api
  contact:
    name: API Support
  version: '1.1'
  title: Dynamic QR Payment Payments API
  description: "# Introduction\n\nPayPay Open Payment API (OPA) is designed to be used by our payment partners to make payment-related operations in different scenarios, so as to deliver the best payment experience to end users. After being onboarded as a PayPay OPA client, depending on the contract, you will have the capability on one or more of the below:\n  - Collect payment by directly debiting from PayPay user’s wallet\n  - Create Dynamic QR Code and collect payments via PayPay's App\n  - Use pre-authorization and capture payment flow to facilitate your purchase procedure\n  - Easy web application integration with PayPay cashier page to collect payment\n  - Build your own checkout experience with rich APIs provided by PayPay\n\nThis document will be focusing on APIs that support the second solution for Dynamic QR Code Payment.\n# Connection Information\n- This system uses custom SSL/TLS certificates on Amazon CloudFront for HTTPS communication. For certificate specifications and root CA information, please check: https://www.amazontrust.com/repository/\n- Additionally, the CloudFront distribution used by this system utilizes Server Name Indication (SNI) for HTTPS connections. Clients connecting to this system must support the TLS SNI extension. Please note that some legacy browsers or clients that do not support SNI will not be able to connect.\n- For details on SNI and its operation in CloudFront, please refer to the AWS documentation: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cnames-https-dedicated-ip-or-sni.html\n- SSL/TLS Versions As a security measure, this system requires the use of TLS 1.2. Connections via TLS 1.0 or TLS 1.1 are not supported.\n\n# Dynamic QR Code Flow\nIn this flow we empower merchants to create a QR Code which can be displayed to the user. The user can then scan the QR Code using PayPay App to process the payment. The merchant can query the status of the payment as well as be notified of the payment to process the order. Details of the flow are shown in the <a href=\"./files/Dynamic QR Code Integration.pdf\" target=\"_blank\">slides here</a>. The polling interval should be about 2 to 3 seconds.<BR>\n<img src=\"./imgs/dynamicqrcode-sequence.png\">\n\n# Onboard merchant\n\nTo start utilizing our Open Payment API platform, at first the business needs to be onboarded as a PayPay merchant.\nThis process usually consists of information collection, manual verification, contract confirmation and credentials issuance.\n\nAfter becoming a merchant on PayPay, the following items would be setup for the client:\n\n  - api key and secret\n  - webhook endpoints\n  - client IP whitelist\n  - merchant identifier (merchant_id) (for agent client)\n\nThis setup can be managed using our merchant panel/ getting in touch with the sales representative.<BR><BR>\nAccess from users to the PayPay app and PayPay web screen from outside Japan is restricted. Please contact us for details.\n"
servers:
- description: Production server
  url: //apigw.paypay.ne.jp
- description: Staging server
  url: //apigw.stg.paypay.ne.jp
- description: Sandbox server
  url: //apigw.sandbox.paypay.ne.jp
- description: Production server (deprecated)
  url: //api.paypay.ne.jp
- description: Staging server (deprecated)
  url: //stg-api.paypay.ne.jp
- description: Sandbox server (deprecated)
  url: //stg-api.sandbox.paypay.ne.jp
tags:
- name: Payments
paths:
  /v2/payments/{merchantPaymentId}:
    x-override-visible-methods: {}
    get:
      tags:
      - Payments
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: Basic
x-tagGroups:
- name: General
  tags:
  - ApiAuthentication
  - SpecifyMerchantInRequest
  - ErrorHandling
  - ApiGeneralRequestId
- name: Apis
  tags:
  - Payment
  - Wallet
  - User
- name: Payment judgment
  tags:
  - AboutPaymentJudgement
- name: Notify users
  tags:
  - NotifyUsersWhenEventsOccur
- name: status transition
  tags:
  - BasicStatusTransition
- name: Webhooks
  tags:
  - WebhookSetup
  - TransactionEvents
- name: Recon file
  tags:
  - TransactionReconFileWithCapture
- name: FAQ
  tags:
  - FAQ
- name: Changelog
  tags:
  - Changelog
x-doc-language: en
